*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	width: 100%;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
 	border: 1px solid black ;
	background-color: bisque;
	margin: 0 auto 0 auto;
}
.title{
	margin-top: 20px;
	color: rgb(112, 106, 106);
}

.text-field{
	width: 600px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.keyboard{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: rgb(151, 132, 132);
	 width: 809px;
	 min-width: 760px;
}

.key{
	display: flex;
	flex-direction:column;
	/* flex-wrap: wrap; */
	align-items: flex-start;
	width: 45px;
	height: 45px;
	margin: 2px 2px;
	border-radius: 5px;
	overflow: hidden;
}
.eng_key,
.rus_key{
	color: black;
	/* font-size: 12px; */
	/* height: 20px; */
	font-weight: 200;
	margin-left: 2px;
	margin-top: 2px;
	order: 1;
	font-size: 20px;
	color: rgb(40, 209, 40);
	margin:auto ;
}
.hidden{
	display: none;
}
.press{
background-color: rgb(98, 243, 176);
transform: scale(0.95);
}
/* .main{
	order: 1;
	font-size: 20px;
	color: rgb(40, 209, 40);
	margin:auto ;
} */

.backspace .eng_key,
.tab .eng_key,
.capslock .eng_key,
.enter .eng_key,
.shiftleft .eng_key,
.controlleft .eng_key,
.controlright .eng_key{
	font-size: 18px;
}
.delete .eng_key{
	font-size: 16px;
	font-weight: 500;
	color: rgb(230, 102, 70);
}
.backspace{
	width:119px;
}
.tab{
	width:60px;
}
.delete{
	width: 55px;
}
.capslock,
.enter{
	width: 106.5px;
}
.shiftleft{
	width: 130px;
}
.shiftright{
	width: 83px;
}
.controlleft,
.controlright{
	width:70px
}
.space{
	width:363px
}
